.content-container {
  min-height: 650px;
  height: 100%;
  background-color: white;
  width: 80%;
  position: relative;
  left: 10%;
  margin-top: 3%;
  border-radius: 20px;
  /* border-radius: 10px; */
  /* margin: 0 2.5%; */
}
.inner-content-container {
  height: inherit;
  margin-left: 50px;
}
.content-heading {
  display: grid;
  grid-template-columns: 32% 19% 19% 10%;
  font-size: 26px;
  padding: 17px;
  font-weight: 600;
  font-size: 15px;
  font-family: sans-serif;
}
.font-heading {
  font-size: 20px;
  margin-top: 10px;
}
